:root {
  /* Latvian flag red */
  --primary-color: #BF1932;
  --secondary-color: #fff;
  --tertiary-color: #000333;
}

/* Navbar */

.Anav {
  background-color: var(--primary-color);
  padding: 1% 5%;
  color: white;
}

.navbar-brand {
  font-family: "Roboto Slab", serif;
  ;
}

.navbar-brand img {
  height: 60px;
}

.navbar {
  background-color: var(--primary-color);
  padding: 20px 55px;
}

.navbar div li a {
  color: white;
  margin: 0 20px;
}

.nav-link {
  text-decoration: none;
}

/* Sign Up, log In */

.loginsignup {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  color: white;
  height: 100vh;

}

.loginbox {
  width: 470px;
  height: 320px;
  background-color: black;
  text-align: center;
  border: 2px #65ccc5 solid;
  border-radius: 10px;
  display: inline;
  margin-top: 100px;
}

.loginbox h1 {
  margin-top: 25px;
}

.signupbox {
  width: 470px;
  height: 320px;
  background-color: black;
  text-align: center;
  border: 2px #65ccc5 solid;
  border-radius: 10px;
  display: inline;
}

.signupbox h1 {
  margin-top: 25px;
}

.signupbox {
  width: 470px;
  height: 520px;
  background-color: black;
  text-align: center;
  border: 2px #65ccc5 solid;
}

.login {
  margin-top: 20px;
}

.login h3 {
  background-color: var(--primary-color);
  font-size: 1rem;
  padding: 11px 20px;
  border-radius: 5%;
  margin-right: -10px;
  z-index: 1;
  margin-top: 8px;
  width: 120px;
}

.loginusernamebox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginpasswordbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.login input {
  padding: 8px 50px;
  border-radius: 5px;
}

.login button {
  padding: 10px 50px;
  margin-top: 17px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.3rem;
}

.login button:hover {
  padding: 10px 50px;
  margin-top: 10px;
  background-color: #65ccc5;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.3rem;
  transition: 0.5s;
}

.signupusernamebox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupnamebox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.signupsurnamebox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.signupbirthdaybox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.signuppasswordbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* Account */

.accountgeneral {
  background-image: linear-gradient(var(--primary-color), black);
  height: 100vh;
}

.accounterror {
  text-align: center;
  padding-top: 50px;
  color: white;
}

.accounterror h1 {
  background-color: rgba(249, 249, 22, 0.816);
  color: black;
  margin: auto;
  width: 450px;
  padding: 10px 0;
  border: 2px black solid;
  border-radius: 10px;
  font-size: 1.5rem;
  font-style: italic;
}


.accounterror h2 {
  font-size: 1.3rem;
  margin-top: 30px;
}

.accounterror a {
  color: black;
  font-weight: bold;
  background-color: white;
  text-decoration: none;
  display: block;
  width: 100px;
  margin: 20px auto 0;
  padding: 7px 0;
  border-radius: 5px;
  border: 2px solid var(--tertiary-color);
}

.accounterror a:hover {
  background-color: var(--tertiary-color);
  color: white;
  transition: 0.5s;
  border: 2px solid white;
}

.accountsuccess {
  background-color: var(--primary-color);
  padding: 1% 5%;
  color: black;
}

.accountsuccess h1 {
  color: white;
}

/* My Trips */ 

.mytrips {
  text-align: center;
  margin-top: 50px;
  height: 100vh;
}

.mytrips h1 {
  font-weight: bold;
  font-style: italic;
  color: var(--tertiary-color);
}

.mytrips ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  list-style-type: none
}

.mytrips ul li{
  width: 300px;
  height: 360px;
  background-color: #FAACA8;
  background-image: radial-gradient(rgba(249, 249, 249, 0.788) 20%, #C8BB9F);
  margin-top: 50px;
  padding: 20px 20px;
  border: 2px var(--tertiary-color) solid;
  border-radius: 15px;
}

.mytrips ul li span{
  color: var(--tertiary-color);
  border: 1px solid var(--tertiary-color);
  border-radius: 5px;
  width: 70%;
  padding: 5px 15px;
  font-weight: bold;
}

.mytrips ul li div {
  color: var(--tertiary-color);
  border: 2px solid var(--tertiary-color);
  border-radius: 5px;
  width: 85%;
  padding: 5px 15px;
  margin: 30px auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.1rem;
  font-weight: bolder;
  color: var(--primary-color);
}

.mytrips h4 {
  font-size: 1.3rem;
  color: var(--tertiary-color);
  font-style: italic;
  font-weight: bold;
}

.mytrips button {
  padding: 7px 25px;
  border-radius: 5px;
}

.mytrips button:hover {
  background-color: var(--tertiary-color);
  color: white;
}
/* HomeOne */

.HomeOne {
  background-color: var(--primary-color);
  height: 100vh;
  display: flex;
  padding: 2% 5%;
}

.OneLeft {
  height: 100%;
  width: 50%;
  text-align: center;
  padding-top: 50px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  align-items: center;
  color: white;
}

.OneLeft h2 {
  font-size: 4rem;
  color: var(--tertiary-color);
}

.OneLeft p {
  width: 60%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin: 50px auto;
}

.OneLeft button {
  background-color: white;
  color: var(--tertiary-color);
  border: none;
  padding: 1% 2%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin: auto;
}

.OneLeft button:hover {
  background-color: var(--tertiary-color);
  color: white;
  transition: 1s;
  border: none;
  padding: 1% 2%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  margin: auto;
}

.OneLeft h5 {
  text-align: left;
  padding: 40px 20px;
  color: var(--tertiary-color);
}

.partnerImg {
  height: 60px;
  margin: -30px 0 0 -50px;
}

.OneLeft button img {
  height: 25px;
  margin-right: 5px;
}

.OneRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.OneRight img {
  width: 470px;
  border-radius: 50%;
  margin-top: -100px;
  margin-left: 50px;
}

/* HomeTWO */

.HomeTwo {
  background-color: var(--secondary-color);
  text-align: center;
  justify-content: center;
  padding: 2% 5%;
  align-items: center;
}

.OurServices h3 {
  color: var(--primary-color);
}

.OurServices h1 {
  margin: auto;
  width: 50%;
  font-size: 3rem;
  color: var(--tertiary-color);
}

.Blocks {
  text-align: center;
  margin: 60px 0;
  display: flex;
  flex-wrap: wrap;
}

.Block1 {
  background-color: var(--tertiary-color);
  color: white;
  width: 400px;
  height: 40%;
  border-radius: 30px;
  margin: 25px;
  text-align: left;
}

.Block1 h2 {
  padding: 0 25px;
}

.Block1 p {
  width: 75%;
  padding: 0 25px;
  padding-bottom: 40px;
}

.Block2 {
  background-color: #F4F4F4;
  width: 400px;
  height: 40%;
  border-radius: 30px;
  margin: 25px;
  text-align: left;
}

.Block2 h2 {
  padding: 0 25px;

}

.Block2 p {
  width: 75%;
  padding: 0 25px;
  padding-bottom: 40px;
}

.HomeTwo img {
  width: 65px;
  padding: 35px 25px 0;
}

/* HomeThree */

.HomeThree {
  background-color: black;
  text-align: center;
  justify-content: center;
  padding: 2% 5%;
  display: flex;
  flex-wrap: wrap;
}

.ThreeLeft {
  width: 47%;
  text-align: center;
  padding-top: 50px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
}

.ThreeLeft img {
  width: 470px;
  border-radius: 5%;
  margin-left: 25px;
}

.ThreeRight {
  width: 47%;
  color: white;
  text-align: left;
  margin: 50px 0;
}

.ThreeRight h3 {
  color: #65ccc5;
  margin: 0;
}

.ThreeRight h1 {
  width: 80%;
  font-size: 4rem;
  line-height: 4.5rem;
  margin: 0;
}

.ThreeStatistics {
  display: flex;
  flex-wrap: wrap;
}

.ThreeStatistics h2 {
  color: #65ccc5;
  margin: 0;
}

.ThreeStatistics p {
  margin: 0;
}

.percent {
  margin-left: 50px;
}

.ThreeRight button img {
  width: 25px;
  margin-right: 7px;
}

.ThreeRight button {
  background-color: white;
  color: var(--tertiary-color);
  border: none;
  padding: 1% 2%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin-top: 20px;
}

.ThreeRight button:hover {
  background-color: #BF1932;
  color: white;
  transition: 1s;
  border: none;
  padding: 1% 2%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
}

/* HomeFour */

.HomeFour {
  margin: 50px auto;
  text-align: center;
}

.HomeFour img {
  width: 40%;
  border-radius: 20px;
}

.TitleFour h1 {
  color: var(--primary-color);
  font-size: 3rem;
  margin: 70px 0 50px;
}

.PhotosFour {
  margin: 0 200px;
  display: flex;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 900;
}

.PhotosFour h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.PhotosFour img {
  width: 80%;
  margin-top: 25px;
}

.PhotosFourRight{
  margin-top: 150px;
}

/* Contact */

.Contact {
  background-color: var(--primary-color);
  padding: 2% 5%;
  color: white;
}

.Contact hr {
  color: white;
  width: 75%;
  margin: auto;
}

.ContactOne {
  padding: 2% 5%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
}

.Contact1 {
  font-size: 1.5rem;
  width: 30%;
  color: white;
}

.Contact1 p{
  width: 90%;
  color: white;
  font-size: 0.9rem;
  padding-top: 20px;
}

.Contact2 {
  margin-top: 10px;
  width: 15%;
  color: white;
}

.Contact h4{
  font-weight: bold;
}

.Contact a{
  color: white;
  text-decoration: none;
  display: block;
}

.Contact3 {
  margin-top: 10px;
  width: 15%;
  color: white;
}

.Contact4 {
  margin-top: 10px;
  width: 25%;
}

.ContactTwo {
  padding: 2% 5%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.footerfour {
  display: flex;
  justify-content: space-around;
}

.footerfour img {
  width: 50px;
  background-color: white;
  padding: 12px;
  border-radius: 35%;
  margin: 0 7px;
}

/* Reserve */

.reserve {
  text-align: center;
  height: 100vh;
  background-color: var(--primary-color);
  padding-top: 20px;
  color: white;
}

.direction {
  width: 400px;
  margin: auto;
  margin-top: 50px;
}

.direction h2 {
  font-size: 1.7rem;
  border: 3px white solid;
  border-radius: 10px;
  padding: 10px 25px;
  margin: 20px 0;
}

.direction select {
  width: 200px;
  padding: 10px 25px;
  border: 3px solid var(--tertiary-color);
  border-radius: 5px;
  font-weight: bold;
  color: var(--tertiary-color);
  cursor: pointer;
}

.direction input {
  width: 200px;
  padding: 10px 25px;
  border: 3px solid var(--tertiary-color);
  border-radius: 5px;
  font-weight: bold;
  color: var(--tertiary-color);
  cursor: pointer;
}

.tripbutton button {
  padding: 5px 35px;
  background-color: white;
  color: var(--tertiary-color);
  margin-top: 25px;
  border: 2px var(--tertiary-color) solid;
  border-radius: 5px;
}

.tripbutton button:hover {
  background-color: var(--tertiary-color);
  color: white;
  border: 2px white solid;
}

